@import "../../sunrise";
.parent{
	display: grid;
	place-content: center;
	height: 100vh;
    background: linear-gradient($sunriseRed, $sunriseGreen);
}
.parent div.form-field{
	border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    background: white;
}
.activebutton {
    background-color: $sunriseGreen;
    color: white;
}