<ul class="unselectable">
    <li routerLink="./location" [routerLinkActive] = '["activeRoute"]'>Location Master</li>
    <li routerLink="./smslog" [routerLinkActive] = '["activeRoute"]'>SMS Log</li>
    <!-- <li routerLink="./messages" [routerLinkActive] = '["activeRoute"]'>Messages</li> -->
    <li routerLink="./wid" [routerLinkActive] = '["activeRoute"]'>WID</li>
    <li routerLink="./client" [routerLinkActive] = '["activeRoute"]'>Client Master</li>
    <li routerLink="./scheduler" [routerLinkActive] = '["activeRoute"]'>Scheduler</li>
</ul>
